#TopStatus{
  text-align: right;
  background: rgba(0, 0, 0, .1);
} 


#TimeCenter{
  font-size: 6em;
  font-weight: bold;
}

#CalenderCenter{
  font-family: 'Ubuntu', sans-serif;
}

#InfoCenter{
  position: absolute; 
  top:50%; 
  left: 50%; 
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: White;
}

